.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header */
.header {
  background-color: #14354f;
}

.header_img {
  width: 20rem;
  padding: 1rem;
}

/* Tittle */
.tittle-box {
  background-color: #d2d2d2;
}

.tittle-box {
  padding: 1rem;
}

.tittle-box_tittle {
  margin: 0;
  font-weight: 500;
}

.tittle-box_description {
  font-weight: 500;
}

/* Dashboard */
.clicks {
  color: red;
  padding-right: 1rem;
}

.impressions {
  color: red;
}

.select-field {
  width: 40rem;
  padding-bottom: 1rem;
}

.user-choice {
  padding: 1rem;
}
